Useful/
LatexDoc/
TesiLaurea.code-workspace
NodeProject_Next/
NodeProject/
HeartBeatMaster/Local/node_modules/
HeartBeatMaster/OnlineSite/config.php
HeartBeatMaster/Local/package-lock.json
HeartBeatMaster/Local/package.json
HeartBeatMaster/OnlineSite/style.css
HeartBeatMaster/OnlineSite/index.php
HeartBeatMaster/OnlineSite/Pages/utenti.php
.vscode/tasks.json
